* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important ;
}
p, h1 , h2 , h3 , h4 ,h5 ,h6 {
  margin: 0;
  padding: 0;
}

.nav1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: solid 0.5px rgb(231, 222, 222);
}

.l_nav1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.l_nav1 select,
.l_nav1 button {
  border: none;
  background-color: white;
  color: rgb(201, 197, 197);
  border-top: solid 1px rgb(201, 197, 197);
  border-left: solid 1px rgb(201, 197, 197);
  border-right: solid 1px rgb(201, 197, 197);
  padding: 4px 7px;
  border-radius: 7px;
  font-size: 10px;
}

.l_nav1 select:hover,
.l_nav1 button:hover {
  transition: ease 0.7s;
  background-color: rgb(135, 134, 134);
  color: white;
  cursor: pointer;
  -webkit-transition: ease 0.7s;
  -moz-transition: ease 0.7s;
  -ms-transition: ease 0.7s;
  -o-transition: ease 0.7s;
}

.r_nav1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: rgb(201, 197, 197);
}

.r_nav1 button,
.r_nav1 p {
  color: rgb(201, 197, 197);
  border: none;
  background-color: white;
  border-top: solid 1px rgb(201, 197, 197);
  border-left: solid 1px rgb(201, 197, 197);
  border-right: solid 1px rgb(201, 197, 197);
  padding: 4px 7px;
  border-radius: 7px;
  font-size: 10px;
}

.r_nav1 button:hover,
.r_nav1 p:hover {
  transition: ease 0.7s;
  background-color: rgb(135, 134, 134);
  color: white;
  cursor: pointer;
}

.sec_nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 10px 0px;
}

.navbar-nav .nav-item a {
  font-size: 17px;
  color: #859098;
  font-weight: 600;
  
}

.navbar-nav .nav-item a:hover {
  color: #ff545a;
}

.container a {
  font-weight: 800;
}

.container a span {
  color: #ff545a;
  font-weight: 800;
}

/* ====================== */

.sec1 {
  height: 600px;
  background-image: url("../images/pexels-shkrabaanthony-6207744.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sec1_header {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
}
.sec1 h1 {
  font-size: 40px;
  word-spacing: 7px;
}
.sec1 p,
.sec1 h1 {
  color: whitesmoke;
  font-weight: 900;
}

/* ========================== */

.sec1_cards {
  width: 80%;
  position: absolute;
  bottom: -15%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.sec1_card {
  width: 17%;
  background-color: white;
  padding: 20px 0px;
  box-shadow: 0px 7px 10px rgb(185, 182, 182);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.sec1_card:hover {
  background-color: #ff545a;
  transition: ease 0.7s;
  -webkit-transition: ease 0.7s;
  -moz-transition: ease 0.7s;
  -ms-transition: ease 0.7s;
  -o-transition: ease 0.7s;
  cursor: pointer;
  color: white;
}

.sec1_card:hover p,
.sec1_card:hover i {
  color: white;
}

.sec1_card p {
  color: #42474c;
  font-size: 16px;
  font-weight: 500;
}
.sec1_card i {
  color: #42474c;

  font-size: 28px;
  padding: 10px 0px;
}

/* ============================================ */

.How_work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 120px 0px;
  gap: 15px;
}

.H_card_data1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0px;
}

.H_card_data1 p {
  color: #859098;
}
.H_card_container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.H_card {
  width: 28%;
  border: solid 1px gray;
  background-color: white;
  text-align: center;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}

.H_card:hover {
  background-color: #ff545a;
  cursor: pointer;
  transition: ease 0.7s;
  -webkit-transition: ease 0.7s;
  -moz-transition: ease 0.7s;
  -ms-transition: ease 0.7s;
  -o-transition: ease 0.7s;
}

.H_card:hover .H_card_icon,
.H_card:hover .H_card._data button {
  background-color: white;
  color: #ff545a;
}
.H_card:hover .H_card_data h5,
.H_card:hover .H_card_data p {
  color: white;
}

.H_card_icon {
  border: solid;
  margin: auto;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #eef2f6;
  color: #50616c;
  border: none;
  font-size: 30px;
}

.H_card_data p {
  color: #859098;
  margin: 10px 0px;

}

.H_card_data button {
  padding: 7px 14px;
  margin: 10px 0px;
  border: solid 1px #859098;
  background-color: white;
  color: #859098;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* =======Explore===================== */

.Explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
  background-color: #f8fafb; 
}

.Explore_card_container{
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}


.Explore_card_container .Explore_card{
    width: 30%;
    border: solid 1px #cbd5dc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

}

.Explore_card_container .Explore_card:hover{
  cursor: pointer;
  transition: ease .7s;
  -webkit-transition: ease .7s;
  -moz-transition: ease .7s;
  -ms-transition: ease .7s;
  -o-transition: ease .7s;
  box-shadow: 5px 15px 15px #859098;
}

.Explore_card_container .Explore_card .E_img{
    height: 250px;
    position: relative;
    overflow: hidden;
}
.Explore_card_container .Explore_card .E_img img {
  width: 100%;
}

.Explore_card_container .Explore_card .E_img .E_img_data{
  position: absolute;
  bottom: -30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 10px;
}


.Explore_card_container .Explore_card:hover .E_img .E_img_data {
    bottom: 13px;
    transition: ease .8s;
    -webkit-transition: ease .8s;
    -moz-transition: ease .8s;
    -ms-transition: ease .8s;
    -o-transition: ease .8s;
}


.Explore_card_container .Explore_card .E_img .E_img_data button {
  padding: 2px 9px ;
  background-color: #FF545A;
  color: white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  border: none;
}

.Explore_card_container .Explore_card .E_img .E_img_data .E_img_data_icone i {
  padding: 5px 8px ;
  color: #CBCCCD;
  font-size: 14px;
  background-color: #252D32;

}

.Explore_card_container .Explore_card .E_img .E_img_data .E_img_data_icone i:hover{
  color: #267DFF;
  transition: ease .5s;
  -webkit-transition: ease .5s;
  -moz-transition: ease .5s;
  -ms-transition: ease .5s;
  -o-transition: ease .5s;
}


.Explore_card .E_data{
    padding: 10px ;
}

.Explore_card .E_data .E_data_data2{
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 7px 0px;
}

.Explore_card .E_data .E_data_data2 p{
    color: #859098;
    font-size: 13px;
    font-weight: 500;

}

.E_data_data2 .stars{
    background-color: #70A9FF;
    padding: 2px 8px;
    font-size: 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white !important;
}

.E_data_data2 .rating , .E_data_data2 :nth-child(3){

    padding-right: 6px ;
    border-right: solid 1px #50616c4f;

}

.E_data_data2 .price {
    color: #F63438;
}

.E_data_data3{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 12px 0px;
    font-size: 12px;

}
.E_data_data3 img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.E_data_data4{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #F63438;
}

.E_data_data4 .E_data_data4_icone{
  color: #767F86;
  display: flex;
  gap: 15px;
}

.E_data_data4 .E_data_data4_icone i:hover{
  color: #F63438;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

/* ======OWL-Coursel==================================== */
.owl_carousel{
  padding: 60px 130px;
}


.item{
  border: solid 1px #50616c;
  padding: 20px 30px ;
}
.item_data1{
  display: flex;
  align-items: center;  
  gap: 20px;
}



.item_data1 img{
  width: 55px !important ;
  height: 55px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.item_data1_part2{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.item_data1_part2 p , .item_data2 p{
  color: #A9ABB1;
}
.item_data1_part2 .stars{
  color: #FFDA2B;
  font-size: 14px;
}

/* ========================================== */
.backGround{
  height: 350px;
  margin: 60px 0px;
  background-image: url('../images/pexels-elina-sazonova-1838554.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.backGround_data{
  height: 100%;
  display: flex;
  gap: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: whitesmoke;
  font-weight: 700;
}
/* =======Explor2================ */
.Explor2{
  background-color: white;
}
/* ===Inp_scetion================================== */

.inp_section{
  background-color: #F8FAFB;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 100px 0px;

}

.inp_section > h2{
  font-size: 24px;
  padding-top: 20px;
  font-weight: 700;
}

.inp_section >p{
  font-weight: 700;
  color: #838A8F;
  font-size: 18px;
}
.inp_section .inp_form{
  display: flex;
  justify-content: center;  
  align-items: center;
  margin: 20px 0px;
}

.inp_section .inp_form .txt{
    padding: 15px 20px ;
    width:25% ;
    border: none;
    box-shadow: 1px -1px 7px gray;
    outline: none;
    transition: ease .5s;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
}


.inp_section .inp_form .creat_acc{
  border: none;
  background-color: #FF545A;
  color: white;
  box-shadow: 1px -1px 7px gray;
  outline: none;
  padding: 15px 20px ;
  transition: ease .5s;
  -webkit-transition: ease .5s;
  -moz-transition: ease .5s;
  -ms-transition: ease .5s;
  -o-transition: ease .5s;
}

.inp_form:hover .txt ,.inp_form:hover .creat_acc{
  box-shadow: 5px -5px 10px gray;
} 

.inp_section .inp_form:hover .creat_acc {
  background-color: #F43032;
} 